
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 600px;
}

img {
    border: solid green;
}

.footer {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}