
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
   

}

.text {
    font-size: 18px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    flex-grow: 1;

}

img {
    border: solid green;
    display: block;
    margin: 20px auto;
    flex-grow: 1;
}

.footer {
    font-size: 20px;
    display: block;
    margin: 20px auto;
    flex-grow: 1;
}
